* { 
    margin: 0;
    padding: 0;
}

body {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    background-color: whitesmoke;
    position: relative; 
    height: 100%; 
    overflow: hidden;
}

:root {
    --orange: #f3c237;
    --bg: #22292f;
    --green: #79b851;
    --dark: #a4aec4;
}

